/* start your css here */
body{
    margin: 0;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
    

}
a{
    text-decoration: none;
    color: black;
}

.heading{
    font-size: 30px;
    font-weight: 10px;
    text-align: center;
}
.content{
    margin-left: 35%;
}
#image{
    margin-left: 20%;
    margin-bottom: 20px;
}
.iframe{
    margin-left: 35%;
}
footer{
    margin: 40px 0;
}
